**/.docker
**/target
**/Cargo.lock
**.env
**/.git
**/.gitignore
.gitmodules
**/LICENSE
**/README.md
**/tests
/rmcs-auth-api
!/rmcs-auth-api/proto
!/rmcs-auth-api/rust
/rmcs-resource-api
!/rmcs-resource-api/proto
!/rmcs-resource-api/rust
