/docker
!/docker/*.sh
**/target
**/Cargo.lock
**.env
**/.git
**/.gitignore
.gitmodules
**/LICENSE
**/README.md
**/tests
/rmcs-auth-api
!/rmcs-auth-api/rust
/rmcs-resource-api
!/rmcs-resource-api/rust
/rmcs-api-client
!/rmcs-api-client/rust
