services:

  auth-db:
    image: postgres:18-alpine
    ports:
      - 5434:5432
    environment:
      - POSTGRES_PASSWORD=db_P4s5w0rd
      - POSTGRES_DB=rmcs_auth
    volumes:
      - auth-data:/var/lib/postgresql/data
    restart: unless-stopped

  resource-db:
    image: timescale/timescaledb:latest-pg18
    ports:
      - 5435:5432
    environment:
      - POSTGRES_PASSWORD=db_P4s5w0rd
      - POSTGRES_DB=rmcs_resource
    volumes:
      - resource-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:

  auth-data:
    driver: local

  resource-data:
    driver: local
